/*For home page.*/
@font-face {
    font-family: "Cascadia Code Light";
    src: url("https://www.fontmirror.com/app_public/files/t/1/2021/05/CascadiaMonoPL-ExtraLight.otf");
}

.loader {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
}

/*Universal Selector*/
* {
    font-family: 'Cascadia Code Light';
    box-sizing: border-box;
}


body {
    background: linear-gradient(to right top, rgb(211,211,211), white 70%);
    background-attachment: fixed; /*edit*/
}

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: black;
}

div.title {
    text-align: center;
    margin: auto;
    margin-top: 100pt;
    padding: 10px;
    min-height: 75%;
}

div.links {
    margin-top: 6em;
}

ul {
    text-align: center;
    list-style: none;
    padding-left: 10pt;
    padding-right: 10pt;
}

li {
    display: inline-grid;
    list-style: none;
}

ul li a.main {
    position: relative;
    color: rgb(15,15,15);
    font-size: 40pt;
    transform: scale(.5, 1);
    transition: ease-out .2s;
}

ul li a.main:hover {
    filter: drop-shadow(0 0  30px black);
    opacity: 60%;
}

a {
    text-decoration: none;
}

/*Heading 1 Selector*/
h1 {
    font-family: 'Cascadia Code Light', sans-serif;
    font-weight: 100;
    font-size: 90pt;
    transform: scale(.6, 1);
    padding-top: 0;
    margin-top: -20pt;
    padding-bottom:0;
    margin-bottom: 0;
    font-weight: normal;
}

/*Heading 2 Selector*/
h2 {
    margin-top: 1.5em;
    font-size: 35pt;
    transform: scale(.5, 1);
    padding-top: 20pt;
    margin-top: 0;
    padding-bottom: 15pt;
    margin-bottom: 2pt;
    font-weight: normal;
}

/*Horizontal Line Selector*/
hr.divider {
    height: 3px;
    background-color: rgb(15,15,15);
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    margin-left: 520pt;
    margin-right: 520pt;
    border: none;
}

.inner-footer {
    margin: 0;
    padding: 0;
    background-color: rgb(15,15,15);
}

.social-links {
    display: flex;
    height: 40px;
    margin: 0 auto;
    width: 100vw;
    align-items: baseline;
    justify-content: center;
}

.social-links ul{
    padding: 10px;
    display: flex;
    width: 400px;
    height: 30px;
    margin: auto;
}

.social-items a{
    padding: 0px 15px 0px 15px;
    font-size: 45px;
    color: white;
    transition: all .25s;
}

.social-items a:hover{
    color: lightslategrey;
}

.quick-links {
    display: flex;
    width: 100vw;
    height: 70px;
    margin: 0 auto;
    align-items: baseline;
    justify-content:center;
} 

.quick-links ul{
    padding: 10px;
    display: flex;
    height: 70px;
    margin: auto;
}

.quick-items a:hover{
    color: slategrey;
}

.quick-items a {
    padding: 10px 15px 0px 15px !important;
    text-align: center;
    font-size: 18px;
    color: white;
    transition: all .25s;
}

.outer-footer {
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 18px;
    background-color: rgb(15,15,15);
}