/*For home page.*/
@font-face {
    font-family: 'jetbrains_monoregular';
    src: url('jetbrainsmono-regular-webfont.eot');
    src: url('jetbrainsmono-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('jetbrainsmono-regular-webfont.woff2') format('woff2'),
         url('jetbrainsmono-regular-webfont.woff') format('woff'),
         url('jetbrainsmono-regular-webfont.ttf') format('truetype'),
         url('jetbrainsmono-regular-webfont.svg#jetbrains_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.loader {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 1000%;
    height: 1000%;
    background: white;
}

/*Universal Selector*/
* {
    font-family: 'jetbrains_monoregular';
    box-sizing: border-box;
}


body {
    background: linear-gradient(to right top, rgb(211,211,211), white 70%);
    background-attachment: fixed; /*edit*/
}

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: black;
}

div.text {
    text-align: left;
    margin: auto;
    margin-top: 4em;
    padding: 1em;
    width: 900px;
    min-height: 75%;
    padding-bottom: 14em;
    font-size: 1.05em;
    resize: none;
}

ul {
    text-align: center;
    list-style: none;
    padding-left: 1em;
    padding-right: 1em;
}

li {
    display: inline-grid;
    list-style: none;
}

a {
    text-decoration: none;
}

/*Heading 1 Selector*/
h1 {
    font-family: 'cascadia_mono_plextralight';
    text-align: center;
    font-weight: 100;
    font-size: 5em;
    transform: scale(.7, 1);
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: normal;
}

/*Heading 2 Selector*/
h2 {
    margin-top: 1.5em;
    font-size: 35pt;
    transform: scale(.7, 1);
    padding-top: 20pt;
    margin-top: 0;
    padding-bottom: 15pt;
    margin-bottom: 2pt;
    font-weight: normal;
}

/*Horizontal Line Selector*/
hr.divider {
    height: 3px;
    background-color: rgb(15,15,15);
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    margin-left: 13em;
    margin-right: 13em;
    border: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7em;
    box-shadow: 0px -4px 4px 2px rgb(50,50,50);
}

.inner-footer {
    margin: 0;
    padding: 0;
    background-color: rgb(15,15,15);
}

.social-links {
    display: flex;
    height: 40px;
    margin: 0 auto;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.social-links ul {
        padding: 10px;
        display: flex;
        width: 400px;
        height: 30px;
        margin: auto;
}

.social-items a {
    padding: 0px 15px 0px 15px;
    font-size: 45px;
    color: white;
    transition: all .25s;
}

.social-items a:hover {
        color: lightslategrey;
}

.quick-links {
    display: flex;
    width: 100vw;
    height: 60px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.quick-links ul {
        padding: 0px;
        display: flex;
        height: 30px;
        margin: auto;
}

.quick-items a:hover {
    color: slategrey;
}

.quick-items a {
    padding: 0px 15px 0px 15px;
    text-align: center;
    font-size: 18px;
    color: white;
    transition: all .25s;
}

.quick-items-current a:hover {
    color: slategrey;
}

.quick-items-current a {
    color: white;
    text-decoration: overline;
    padding: 0px 15px 0px 15px;
    text-align: center;
    font-size: 18px;
    transition: all .25s;
}

.outer-footer {
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 18px;
    background-color: rgb(15,15,15);
}
